body{
  background-color: #424874;
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
  font-size: 70px;
   font-variant: small-caps;
color: white;
}
h5,h6{
  font-family: ABeeZee;
}
p{
  font-family: Cabin;
}
h3{
  font-family: Baloon;
}
.fas{
  color: black;
}
.card{
  background-color: #F4EEFF;
}
